@font-face {
    font-family: Shabnam;
    src: url('/font/Shabnam.ttf') format('truetype');
    /* src: url('Shabnam.eot?#iefix') format('embedded-opentype'), */
         /* url('Shabnam.woff2') format('woff2'), */
         /* url('Shabnam.woff') format('woff'), */
         
    font-weight: normal;
  }
  *{
      margin: 0;
      padding: 0 ;
  }
  body{
      
    font-family: Shabnam;
    display: flex;
    justify-content: flex-start;
  }

  main{
    font-family: Shabnam;
    width: 100%;
    display: flex;
    direction: rtl;
    flex-direction: column;
  }

.header{
    width: 100% ;
    height: 10vh; 
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
    background-color: rgb(14, 21, 112);
    
}


.logo  {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.hamMenu{
    width: 30px;
    height: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fasfa-barsfa-1x:before {
    content: "\f0c9"; 
}

ul{
    display: flex;    
}

ul li{
    width : 80px ;
    height: 15px;
    display: flex;
    padding : 5px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    align-items: center; 
    justify-content: center;
}

.hamMenu img{
    width: 30px;
    height: 30px;
    padding-left: 20px;
}

.clear{
    clear: both;
    display: inline-block;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw ;
    height: 90vh;
    
}

.rightSide{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255); 
}

.divTable{
    
    width: 40vw;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

table {
   font-size: 14px;
   width: 40vw;
   border-collapse: collapse;
   border: 2px solid rgb(155, 155, 155);
}

table tr{
    border: 1px solid #dddddd;
    height: 7vh;
    
}

table tr:nth-child(odd){
    background-color: rgb(238, 237, 237);
}

th{
    background-color: rgb(216, 216, 216);
    font-size: 16px;
    font-weight: bolder;
}
/* table th:last-child{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px  0px  10px 0px;
} */

td{
    text-align: center;
}


button{
    width: 12px;
    height: 12px;
}

.inputInfo{
    font-family: Shabnam;
    width: 44vw;
    height: 200px;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column ; 

}

input::placeholder {
    font-family: Shabnam;
    padding-right : 10px
}

.gapLeft{
    width: 100%;
    height: 8vh;
}

.gapRight{
    width: 100%;
    height: 5vh; 
}

.boxInfo {
    width: 50%;
    height: 500px;
}

input{
    width: 40vw;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    background-color: rgb(247, 247, 247);
}
.btnSubmit{
    font-family: Shabnam;
    width: 40vw;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: green;
    
}

.btnSubmit:hover{
    background-color: yellowgreen;
}

.leftSide  {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.chengeColor{
    width: 100%;
    height: 70vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftSide img{
    width: 15vw;
    height: 20vh;
}

.leftSide button{
    width: 30px;
    height: 30px;
    border: none ;
    border-radius: 2px;
}

.blockColors {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.btnYellow{
    background-color: yellow;
}

.btnYellow:hover{
    background-color: lightgoldenrodyellow;
}

.btnGreen{
    background-color: green;
}

.btnGreen:hover{
    background-color: lightgreen;
}

.btnBlue{
    background-color: blue;
}

.btnBlue:hover{
    background-color: lightblue;
}

.btnRed{
    background-color: red;
}

.btnRed:hover{
    background-color: lightcoral;
}
